body {
	background-position: center;
	text-align: center;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(0,0,50,0.5), rgba(0,0,50,0.5)), url(../image/test5.png);
	background-size: auto;
	color: white;
}

a {
	color: white;
}

h1 {
	color: white;
	font-family: monospace;
}

form {
	margin-top: 50px;
	transition: all 4s ease-in-out;
}

.form-control {
	width: 660px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}

input {
	height: 45px;
}

form .submit {
	background: orange;
	border-color: transparent;
	border-radius: 12px;
	color: #fff;
	font-size: 20px;
	letter-spacing: 2px;
	height: 50px;
	margin-top: 20px;
}

form .submit:hover {
	background-color: #f44336;
	cursor: pointer;
}

@media screen and (max-width: 320px){
	.form-control{
		width: 50%;
	}
}